/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font-family: sans-serif;
}

/* ---------------------------------------------------- */

.kalendar {
	display: grid;
	grid-template-columns: repeat(7, 50px);
	grid-template-rows: repeat(6, 50px);
	list-style: none;
	gap: 3px;
}

.zahlavi {
	background-color: orangered;
	text-align: center;
	color: white;
}

.kalendar li {
	border: 1px solid silver;
	text-align: center;
	line-height: 48px;

	/* Vytvořím tím ale příliš mnoho flexboxů a prohlížeč je bude muset pokaždé počítat.
	display: flex;
	justify-content: center;
	align-items: center; */
}

.predchozi,
.nasledujici {
	background-color: silver;
	color: gray;
}